mixin video(video) 
    div
        a(href=`/videos/${video.id}`)=video.title      
        ul
            li=video.description
            li=video.createAt 
            li=video.hashtags
            li=video.meta.views
            li=video.meta.rating 
        