extends base.pug

block content
    video(src="/"+ video.fileUrl, controls)
    button#play Play
    button#mute Mute 
    span#time 00:00/00:00
    input(type="range", min="0", max="1", step="0.2")#volume
    div
        h1=video.title
        p=video.description
        small=video.createdAt 
        br
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;

block scripts
    script(src="/static/js/videoPlayer")